/* Body Regular */
@font-face {
  font-family: 'Satoshi Variable';
  src: url('./Satoshi-Variable.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}

/* Body Medium */
@font-face {
  font-family: 'Satoshi Variable';
  src: url('./Satoshi-Variable.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}

/* Headings */
@font-face {
  font-family: 'Satoshi Variable';
  src: url('./Satoshi-Variable.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}

/* Display */
@font-face {
  font-family: 'Satoshi Variable';
  src: url('./Satoshi-Variable.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}



